<style>
  .current-nominee-count {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px black;
    border-radius: 24px;
    background-color: #E7E1D4;
  }

  .update-nominee-count {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 5px black;
    border-radius: 24px;
    background-color: #F3F8FA;
  }

  .nominee-count-text {
    font-family: 'Helvetica Neue LT Std';
    color: #504444;
    font-size: 32px;
    line-height: 25px;
  }

  #limit-input-field {
    margin-top: 25px;
  }

  .update-limit {
    width: 225px;
    background-color: #598C9B;
    border:0 none;
    cursor:pointer;
    color:white;
    border-radius: 8px;
    box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.35);
    transition-duration: 0.4s;
  }

  .update-limit:hover {
    background-color: #59A4BB;
  }
</style>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C0000; padding-top: 0;padding-bottom: 0;">
    <div class = "row" style="height:35px; padding-bottom: 0;">
      <div class="col-sm-auto" style="margin-bottom: 0;">
        <%= button_to "Return to Home Page", user_new_representative_path, :class => "new-navbar-box", :method => :get %>
      </div>
    </div>
  <nav>
</header>

<div style="padding-left: 30px; padding-right: 30px;">

  <p id="notice"><%= notice %></p>

  <h1>Admin Home Page</h1>

  <hr style="height: 3px; border: 0px solid #696969; border-top-width: 1px;" >

  <br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-auto">
        <%= button_to "Universities", universities_path, :class => "data-button", :method => :get %>
      </div>
      <div class="col-sm-auto">
        <%= button_to 'Representatives', representatives_path, :class => "data-button", :method => :get %>
      </div>
      <div class="col-sm-auto">
        <%= button_to 'Students', students_path, :class => "data-button", :method => :get %>
      </div>
      <div class="col-sm-auto">
        <%= button_to 'Questions', questions_path, :class => "data-button", :method => :get %>
      </div>
    </div>
  </div>
  <br>
  <br>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm">
        <div class="current-nominee-count" style="padding-top: 15px; margin-left: auto;">
          <div style="margin-left: auto; margin-right: auto; text-align:center;">
            <%=image_tag("person pictogram.png", size: "140x100")%>
            <p class="nominee-count-text"><%= @max_lim %></p>
            <p class="nominee-count-text" style = "font-size: 24px;">Max Number of Nominees</p>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="update-nominee-count" style="padding-top: 45px; padding-bottom: 45px; margin-right: auto;">
          <div style="margin-left: auto; margin-right: auto; text-align:center;">
            <p class="nominee-count-text" style = "font-size: 24px; color:black">Update Nominee Limit</p>
            <div>
              <form action="/admin/update_max" method="get" accept-charset="UTF-8" >
                <input id="max_lim" name="max_lim" type="number" />
                <input class="update-limit" id="limit-input-field" name="commit" type="submit" value="Update Limit" />
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
</div>
